body{
    background-color: rgb(182, 189, 139);
}
h1{
    color: black;
}
h5{
    color: blue;
}
p{
    color: black;
}
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   background-color: rgb(169, 174, 126);
    color: rgb(76, 175, 207);
}
.card{
    background-color: rgb(169, 174, 126);
}
.r {
	display: inline-block;
	float: right;
	text-align: right; 
}
span{
    color: yellow;
}

#imgBody{
	background-image: url("resources\img\BfemybeKVXCf9pgX9WCxsc-1200-80.jpg");
	backgroun-attatchment: fixed;
	background-size: cover;
}
